body {
  font-family: Arial, sans- serif;
 background-color: #00DBFF;
  margins: 0;
  padding: 30px;
   }
h1 {
  text-align: 5px;
}
h2 {
  margin-bottom: 5px;
}
p {
  margin-top: 5px;
}
.livro {
  backgroung-color: white;
  padding: 20px;
  margin: 15px auto;
  max-width: 400px;
  border-radius: 10px;
